Data Collection from r/leagueoflegends

In [1]:
import praw
import numpy as np
from pandas import Series, DataFrame, HDFStore
import pandas as pd

In [2]:
reddit = praw.Reddit(client_id='ZgnyWtDqjce42g',
                     client_secret='ZyNDnLkjX-6qtCU1__ujx-wYw_o',
                     user_agent='linux:virtualgod.RedditPrediction:v1.0 ' +
                                '(by /u/mevsb183')

subreddit = reddit.subreddit('leagueoflegends')

article_id = []
article_title = []
article_date = []
article_comments = []
article_score = []

for submission in subreddit.top(limit=1000):
    article_id.append(submission.id)
    article_title.append(submission.title)
    article_date.append(submission.created)
    article_comments.append(submission.num_comments)
    article_score.append(submission.score)

print(len(article_id))

998

In [3]:
rel_df = DataFrame({'Date': article_date,
                    'Title': article_title,
                    'Comments': article_comments,
                    'Score': article_score})
rel_df = rel_df[['Date', 'Title', 'Comments', 'Score']]

rel_df[:5]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Title</th>
      <th>Comments</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.491037e+09</td>
      <td>OUR LORD AND SAVIOUR MARC MERRILL HAS SAID IF ...</td>
      <td>887</td>
      <td>68293</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1.491086e+09</td>
      <td>Fake Moba. If this gets enough upvotes it will...</td>
      <td>995</td>
      <td>46004</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1.440403e+09</td>
      <td>[Spoiler] Counter Logic Gaming vs Team SoloMid...</td>
      <td>9637</td>
      <td>43491</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1.491088e+09</td>
      <td>BREAKING NEWS: MARC MERRILL PROMISES TO UNBAN ...</td>
      <td>794</td>
      <td>39251</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1.496437e+09</td>
      <td>Imaqtpie, Scarra, Dyrus, Voyboy, and Shiphtur ...</td>
      <td>3383</td>
      <td>35614</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
rel_df['Date'] = pd.to_datetime(rel_df['Date'].values.astype(int), unit='s')
rel_df[:5]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Title</th>
      <th>Comments</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2017-04-01 08:48:25</td>
      <td>OUR LORD AND SAVIOUR MARC MERRILL HAS SAID IF ...</td>
      <td>887</td>
      <td>68293</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2017-04-01 22:40:51</td>
      <td>Fake Moba. If this gets enough upvotes it will...</td>
      <td>995</td>
      <td>46004</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2015-08-24 07:59:40</td>
      <td>[Spoiler] Counter Logic Gaming vs Team SoloMid...</td>
      <td>9637</td>
      <td>43491</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2017-04-01 23:07:22</td>
      <td>BREAKING NEWS: MARC MERRILL PROMISES TO UNBAN ...</td>
      <td>794</td>
      <td>39251</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2017-06-02 20:55:31</td>
      <td>Imaqtpie, Scarra, Dyrus, Voyboy, and Shiphtur ...</td>
      <td>3383</td>
      <td>35614</td>
    </tr>
  </tbody>
</table>
</div>

Store collected data

In [5]:
store = HDFStore('data/store.h5')
store['df'] = rel_df

Once data is collected, start from here

In [6]:
store = HDFStore('data/store.h5')
rel_df = store['df']
rel_df[:5]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Title</th>
      <th>Comments</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2017-04-01 08:48:25</td>
      <td>OUR LORD AND SAVIOUR MARC MERRILL HAS SAID IF ...</td>
      <td>887</td>
      <td>68293</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2017-04-01 22:40:51</td>
      <td>Fake Moba. If this gets enough upvotes it will...</td>
      <td>995</td>
      <td>46004</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2015-08-24 07:59:40</td>
      <td>[Spoiler] Counter Logic Gaming vs Team SoloMid...</td>
      <td>9637</td>
      <td>43491</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2017-04-01 23:07:22</td>
      <td>BREAKING NEWS: MARC MERRILL PROMISES TO UNBAN ...</td>
      <td>794</td>
      <td>39251</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2017-06-02 20:55:31</td>
      <td>Imaqtpie, Scarra, Dyrus, Voyboy, and Shiphtur ...</td>
      <td>3383</td>
      <td>35614</td>
    </tr>
  </tbody>
</table>
</div>